<!DOCTYPE html>
<html lang="en">
<head>
    <title>Best Wine Ever</title>
    <link rel="icon" href="./wine test.jpg">
    <link rel="stylesheet" href="miniproject.css">
</head>
<body>
    <div>
        <img class="img1"src="./wine test.jpg" alt="">
    </div>
    
    <!--nav bar begins-->
    <nav>
        
        <a style="margin-right: 200px;" href="./miniProject.html">HOME</a>
        <div class="dropdown" style="display: inline-block;">
        <a href="wine quality.html" style="margin:0px;">Wine Quality Test</a>
        </div>
        <a href="genere.html">Project By</a>


    </nav>

    <!--nav bar ends-->

    <!--poster begins -->
    <div class="bg">
        <h1 class="poster">
        <marquee behavior="alternate" direction="">KNOW THE REVIEWS AND STORY LINES OF MOVIES AND TV SHOWS </marquee>
    </h1>
    </div>
    <!--poster ends-->
    <div class="bg1">
    <h2 id=i style="text-align: center; color: white;">WOULD YOU LIKE TO SUGGEST US SOMETHING??</h2>
    <h3 style="text-align: center; color: white;">DROP IT DOWN HERE</h3>
    <textarea></textarea>
    <br><br><button onclick="alert('FEEDBACK SUBMITTED')">submit</button>
    </div>
</body>
</html>